.Complete-board {
    display:flex; flex-direction:row;
}

.Board {

}

.Filter {
    margin-left: 1.5%;
    width: 15%;
    height: 100%;
    color: #408256;
}

.Filter > h3 {
    vertical-align: top;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 2em;
}

.Filter-list {
    margin: 10px;
    padding-left: 0;
    list-style: none;
    font-size: 1.5em;
}

.Filter-list li label {
    margin-left: 15px;
}

.Board-row {
    float: left;
}

.Product {
    border: solid #408256;
    width: 400px;
    height: 200px;
    text-align: center;
    position: relative;
    background-color: #C2D9C9;
    margin: 50px;
}

.Product-description-div {
    position: absolute;
    text-align: left;
    font-size: small;
    line-height: 0.9;
    left: 5%;
    bottom: 35%;
    width: 40%;
    color: #408256;
}

.Product-quantity-div {
    position: absolute;
    text-align: right;
    right: 5%;
    bottom: 35%;
    width: 40%;
    height: 15%;
}

.Product-quantity-div > button:nth-child(odd) {
    background-color: #408256;
    color: #f2f2f2;
}

.Product-quantity-div> button:nth-child(2) {
    background-color: #C2D9C9;
    color: #408256;
}

.Product-img {
    width: 150px;
    height: 100px;
    position: relative;
    top: 15px;
}

.Product-button-div {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
}

.Product-button {
    background-color: #408256;
    color: #f2f2f2;
    height: 100%;
    width: 100%;
}