.Menu {
  background-color: #408256;
  overflow: hidden;
}

.Menu div a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Menu div a:hover {
  background-color: #eee;
  color: black;
}

.Menu div a.active {
  background-color: #4CAF50;
  color: white;
}

.Menu div:first-child {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 1.5%;
}

.Menu div:last-child {
    float: right;
    margin-right: 1.5%;
}

