.tooltip {
    font-size: 20px !important;
    pointer-events: auto !important;
    border-radius: 10px;
    box-shadow: 2px 2px gainsboro;
    opacity: 0.9 !important;
}

.tooltip:hover {
    opacity: 1 !important;
}

.tooltip-green {
    background-color: limegreen !important;
}

.tooltip-red {
    background-color: red !important;
}

.tooltip-orange {
    background-color: orange !important;
}

.tooltip-gray {
    background-color: gray !important;
}

.tooltip div div {
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid black;
}

.tooltip > div > div:last-child {
    border-right: none;
}

.tooltip div div:hover {
    cursor: pointer;
    color: white;
}

.options {
    display: flex;
    flex-direction: row;
}